/* BARUUK: dittotones Tailwind v4 ramps. */
@theme static {
	--color-wf-baruuk-primary-50: oklch(0.9802 0.0151 82.64);
	--color-wf-baruuk-primary-100: oklch(0.9514 0.0379 82.64);
	--color-wf-baruuk-primary-200: oklch(0.8976 0.0757 82.64);
	--color-wf-baruuk-primary-300: oklch(0.833 0.1182 82.64);
	--color-wf-baruuk-primary-400: oklch(0.7597 0.1536 82.64);
	--color-wf-baruuk-primary-500: oklch(0.713 0.1482 78.81);
	--color-wf-baruuk-primary-600: color-mix(in oklch, oklch(0.6407 0.1334 78.39), black var(--theme-darken-600));
	--color-wf-baruuk-primary-700: color-mix(in oklch, oklch(0.5437 0.1135 77.63), black var(--theme-darken-700));
	--color-wf-baruuk-primary-800: color-mix(in oklch, oklch(0.4628 0.0969 76.76), black var(--theme-darken-800));
	--color-wf-baruuk-primary-900: color-mix(in oklch, oklch(0.4031 0.0847 75.9), black var(--theme-darken-900));
	--color-wf-baruuk-primary-950: color-mix(in oklch, oklch(0.2658 0.0558 76.02), black var(--theme-darken-950));
	--color-wf-baruuk-highlight-50: oklch(0.9728 0.0145 83.96);
	--color-wf-baruuk-highlight-100: oklch(0.9385 0.0345 83.96);
	--color-wf-baruuk-highlight-200: oklch(0.8758 0.0696 83.96);
	--color-wf-baruuk-highlight-300: oklch(0.8095 0.1204 83.96);
	--color-wf-baruuk-highlight-400: oklch(0.7214 0.1493 80.32);
	--color-wf-baruuk-highlight-500: oklch(0.6709 0.1389 80.04);
	--color-wf-baruuk-highlight-600: color-mix(in oklch, oklch(0.613 0.1271 79.68), black var(--theme-darken-600));
	--color-wf-baruuk-highlight-700: color-mix(in oklch, oklch(0.5282 0.1097 78.97), black var(--theme-darken-700));
	--color-wf-baruuk-highlight-800: color-mix(in oklch, oklch(0.4535 0.0945 78.18), black var(--theme-darken-800));
	--color-wf-baruuk-highlight-900: color-mix(in oklch, oklch(0.397 0.083 77.32), black var(--theme-darken-900));
	--color-wf-baruuk-highlight-950: color-mix(in oklch, oklch(0.2593 0.055 73.89), black var(--theme-darken-950));
}
