/* CORPUS: dittotones Tailwind v4 ramps. */
@theme static {
	--color-wf-corpus-primary-50: oklch(0.9813 0.0136 217.64);
	--color-wf-corpus-primary-100: oklch(0.9548 0.0315 220.27);
	--color-wf-corpus-primary-200: oklch(0.9122 0.0613 220.95);
	--color-wf-corpus-primary-300: oklch(0.8527 0.1048 221.12);
	--color-wf-corpus-primary-400: oklch(0.7766 0.1379 222.05);
	--color-wf-corpus-primary-500: oklch(0.7094 0.132 222.84);
	--color-wf-corpus-primary-600: color-mix(in oklch, oklch(0.6093 0.1147 224.32), black var(--theme-darken-600));
	--color-wf-corpus-primary-700: color-mix(in oklch, oklch(0.5188 0.0974 223.99), black var(--theme-darken-700));
	--color-wf-corpus-primary-800: color-mix(in oklch, oklch(0.4509 0.0836 222.42), black var(--theme-darken-800));
	--color-wf-corpus-primary-900: color-mix(in oklch, oklch(0.3979 0.0697 222.05), black var(--theme-darken-900));
	--color-wf-corpus-primary-950: color-mix(in oklch, oklch(0.3004 0.0535 222.05), black var(--theme-darken-950));
	--color-wf-corpus-highlight-50: oklch(0.9828 0.0151 209.86);
	--color-wf-corpus-highlight-100: oklch(0.9571 0.0353 212.63);
	--color-wf-corpus-highlight-200: oklch(0.9173 0.0666 212.85);
	--color-wf-corpus-highlight-300: oklch(0.8624 0.1111 212.85);
	--color-wf-corpus-highlight-400: oklch(0.786 0.1378 213.43);
	--color-wf-corpus-highlight-500: oklch(0.7185 0.1266 214.51);
	--color-wf-corpus-highlight-600: color-mix(in oklch, oklch(0.6162 0.1092 215.54), black var(--theme-darken-600));
	--color-wf-corpus-highlight-700: color-mix(in oklch, oklch(0.5248 0.0928 215.23), black var(--theme-darken-700));
	--color-wf-corpus-highlight-800: color-mix(in oklch, oklch(0.4547 0.0799 214), black var(--theme-darken-800));
	--color-wf-corpus-highlight-900: color-mix(in oklch, oklch(0.3998 0.0696 212.85), black var(--theme-darken-900));
	--color-wf-corpus-highlight-950: color-mix(in oklch, oklch(0.3028 0.053 213.23), black var(--theme-darken-950));
}
