/* GRINEER: dittotones Tailwind v4 ramps. */
@theme static {
	--color-wf-grineer-primary-50: oklch(0.9801 0.0156 74.33);
	--color-wf-grineer-primary-100: oklch(0.954 0.037 74.71);
	--color-wf-grineer-primary-200: oklch(0.9038 0.076 72.46);
	--color-wf-grineer-primary-300: oklch(0.8424 0.1287 72.08);
	--color-wf-grineer-primary-400: oklch(0.7567 0.1665 67.65);
	--color-wf-grineer-primary-500: oklch(0.7114 0.1568 67.37);
	--color-wf-grineer-primary-600: color-mix(in oklch, oklch(0.652 0.1441 66.98), black var(--theme-darken-600));
	--color-wf-grineer-primary-700: color-mix(in oklch, oklch(0.5584 0.1242 66.13), black var(--theme-darken-700));
	--color-wf-grineer-primary-800: color-mix(in oklch, oklch(0.4749 0.1064 65.12), black var(--theme-darken-800));
	--color-wf-grineer-primary-900: color-mix(in oklch, oklch(0.4124 0.0932 64.14), black var(--theme-darken-900));
	--color-wf-grineer-primary-950: color-mix(in oklch, oklch(0.2694 0.0631 60.19), black var(--theme-darken-950));
	--color-wf-grineer-highlight-50: oklch(0.9841 0.0183 87.77);
	--color-wf-grineer-highlight-100: oklch(0.9594 0.0472 87.72);
	--color-wf-grineer-highlight-200: oklch(0.9166 0.0954 86.93);
	--color-wf-grineer-highlight-300: oklch(0.8625 0.1435 86.93);
	--color-wf-grineer-highlight-400: oklch(0.7958 0.1632 84.59);
	--color-wf-grineer-highlight-500: oklch(0.7436 0.1527 83.71);
	--color-wf-grineer-highlight-600: color-mix(in oklch, oklch(0.6609 0.1358 83.29), black var(--theme-darken-600));
	--color-wf-grineer-highlight-700: color-mix(in oklch, oklch(0.558 0.1148 82.63), black var(--theme-darken-700));
	--color-wf-grineer-highlight-800: color-mix(in oklch, oklch(0.4752 0.098 81.84), black var(--theme-darken-800));
	--color-wf-grineer-highlight-900: color-mix(in oklch, oklch(0.4145 0.0856 81.11), black var(--theme-darken-900));
	--color-wf-grineer-highlight-950: color-mix(in oklch, oklch(0.2756 0.0574 78.18), black var(--theme-darken-950));
}
