/* HIGH_CONTRAST: dittotones Tailwind v4 ramps. */
@theme static {
	--color-wf-high-contrast-primary-50: oklch(0.9749 0.0115 251.53);
	--color-wf-high-contrast-primary-100: oklch(0.9445 0.0247 251.53);
	--color-wf-high-contrast-primary-200: oklch(0.8977 0.0492 251.53);
	--color-wf-high-contrast-primary-300: oklch(0.8287 0.0886 250.67);
	--color-wf-high-contrast-primary-400: oklch(0.7425 0.1369 251.53);
	--color-wf-high-contrast-primary-500: oklch(0.6674 0.1626 251.53);
	--color-wf-high-contrast-primary-600: color-mix(in oklch, oklch(0.5795 0.1724 251.8), black var(--theme-darken-600));
	--color-wf-high-contrast-primary-700: color-mix(in oklch, oklch(0.5085 0.1593 253.5), black var(--theme-darken-700));
	--color-wf-high-contrast-primary-800: color-mix(in oklch, oklch(0.4437 0.1322 251.85), black var(--theme-darken-800));
	--color-wf-high-contrast-primary-900: color-mix(in oklch, oklch(0.3938 0.1009 251.53), black var(--theme-darken-900));
	--color-wf-high-contrast-primary-950: color-mix(in oklch, oklch(0.294 0.0666 251.53), black var(--theme-darken-950));
	--color-wf-high-contrast-highlight-50: oklch(0.9935 0.0308 107.73);
	--color-wf-high-contrast-highlight-100: oklch(0.9856 0.0758 107.9);
	--color-wf-high-contrast-highlight-200: oklch(0.9759 0.1423 108.77);
	--color-wf-high-contrast-highlight-300: oklch(0.968 0.211 109.77);
	--color-wf-high-contrast-highlight-400: oklch(0.9115 0.1983 109.45);
	--color-wf-high-contrast-highlight-500: oklch(0.8424 0.1832 109.42);
	--color-wf-high-contrast-highlight-600: color-mix(in oklch, oklch(0.717 0.1559 109.36), black var(--theme-darken-600));
	--color-wf-high-contrast-highlight-700: color-mix(in oklch, oklch(0.5855 0.1273 109.42), black var(--theme-darken-700));
	--color-wf-high-contrast-highlight-800: color-mix(in oklch, oklch(0.5002 0.109 109.66), black var(--theme-darken-800));
	--color-wf-high-contrast-highlight-900: color-mix(in oklch, oklch(0.4442 0.0906 109.77), black var(--theme-darken-900));
	--color-wf-high-contrast-highlight-950: color-mix(in oklch, oklch(0.3012 0.0616 109.77), black var(--theme-darken-950));
}
