/* LOTUS: dittotones Tailwind v4 ramps. */
@theme static {
	--color-wf-lotus-primary-50: oklch(0.9753 0.0117 231.31);
	--color-wf-lotus-primary-100: oklch(0.9464 0.0241 231.31);
	--color-wf-lotus-primary-200: oklch(0.8961 0.051 231.31);
	--color-wf-lotus-primary-300: oklch(0.8227 0.0963 231.31);
	--color-wf-lotus-primary-400: oklch(0.7357 0.1415 231.31);
	--color-wf-lotus-primary-500: oklch(0.6776 0.1444 235.33);
	--color-wf-lotus-primary-600: color-mix(in oklch, oklch(0.5861 0.1267 236.34), black var(--theme-darken-600));
	--color-wf-lotus-primary-700: color-mix(in oklch, oklch(0.5051 0.1104 237.09), black var(--theme-darken-700));
	--color-wf-lotus-primary-800: color-mix(in oklch, oklch(0.4465 0.0987 237.78), black var(--theme-darken-800));
	--color-wf-lotus-primary-900: color-mix(in oklch, oklch(0.3917 0.083 234.93), black var(--theme-darken-900));
	--color-wf-lotus-primary-950: color-mix(in oklch, oklch(0.2914 0.0602 233.04), black var(--theme-darken-950));
	--color-wf-lotus-highlight-50: oklch(0.985 0.0244 95.25);
	--color-wf-lotus-highlight-100: oklch(0.9571 0.066 94.27);
	--color-wf-lotus-highlight-200: oklch(0.918 0.1302 95);
	--color-wf-lotus-highlight-300: oklch(0.8747 0.1793 94.08);
	--color-wf-lotus-highlight-400: oklch(0.8257 0.1689 92.14);
	--color-wf-lotus-highlight-500: oklch(0.767 0.1569 91.98);
	--color-wf-lotus-highlight-600: color-mix(in oklch, oklch(0.6645 0.1359 91.62), black var(--theme-darken-600));
	--color-wf-lotus-highlight-700: color-mix(in oklch, oklch(0.554 0.1133 91.09), black var(--theme-darken-700));
	--color-wf-lotus-highlight-800: color-mix(in oklch, oklch(0.4724 0.0966 90.51), black var(--theme-darken-800));
	--color-wf-lotus-highlight-900: color-mix(in oklch, oklch(0.4137 0.0845 89.96), black var(--theme-darken-900));
	--color-wf-lotus-highlight-950: color-mix(in oklch, oklch(0.2793 0.0571 87.8), black var(--theme-darken-950));
}
